<main>
 <div class="bio-main">
    <div class="image">
    </div>
    <div class="position" style="text-align: center;">L→R</div>
    <div class="member">
      <span>Kanju Inatsug(Gt,Cho)</span>
      <span>Naoto Fg (Ba.)</span>
      <span>Michiro Inatsug(Gt,Vo)</span>
      <span>Kate Yonnesz(Dr.)</span>
    </div>
  </div>
  <div class="container">
   <div class="row">
    <div class="col-lg-12">
    <p>プロフィール<br>
       2019年6月22日、東京都で結成。2020年9月に現体制に至る。
       バンド名は日本の前衛芸術「暗黒舞踏」に由来する。<br>
       幽玄なギターワークと、身体的なビートを基調とし、ポストロックやアンビエント、シューゲイザーなどに分類される国内外のアーティストからの影響を昇華させた楽曲を携え、レコーディング・ライブを中心に精力的に活動中。</p>
    </div>
   </div>
  </div>
</main>
<%= javascript_include_tag 'aimsition.js' %>
<%= javascript_include_tag 'news.js' %>