<main>
 <div class="bio-main">
    <div class="image">
    </div>
    <div class="position" style="text-align: center;">L→R</div>
    <div class="member">
      <span>Kanju Inatsug(Gt,Cho)</span>
      <span>Naoto Fg (Ba.)</span>
      <span>Michiro Inatsug(Gt,Vo)</span>
      <span>Kate Yonnesz(Dr.)</span>
    </div>
  </div>
</main>