<main>
  <div class="main_visual">
  <span class="visual-text">1st EP</span>
  <span class="visual-text_main">Lost in Watercycle</span>
  <span class="visual-text_create">2021 5 anonymous</span>
  <a class="EP_link"><span>Coming Soon</span><em></em></a>
  </div>
  <div class="main">
  <span>News</span>
  </div>
</main>