<main>
  <div class="main_visual">
  <span class="visual-text">1st EP</span>
  <span class="visual-text_main">Lost in Watercycle</span>
  <span class="visual-text_create">2021 5 anonymous</span>
  <a class="EP_link"><span>Coming Soon</span><em></em></a>
  </div>
  <div class="main">
  <span>News</span>
   
   <div class="twitter">
    <a class="twitter-timeline" data-lang="ja" data-width="300" data-height="400" data-chrome="noheader nofooter" href="https://twitter.com/butohes_japan?ref_src=twsrc%5Etfw">Tweets by butohes_japan</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
  </div>
</main>