/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
$cWhite: black;
$cBlack: white;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
header {
  width: 100%;
  height: 60px;
  background-color: $cWhite;
  display: flex;
  position: relative;
  z-index: 1;
}
nav {
  position: absolute;
  right: 5%;
  top: 5px;
}
.nav-list {
  color: beige;
}
.header_logo {
  height: 60px;
  width: 180px;
  background-image: image-url("butohes_logo_white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 0px;
}

.bt {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;

  &.cubic {
    & span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // border: 1px solid $cBlack;
      line-height: 48px;
      text-align: center;
      transition: all 0.3s;
      transform-origin: center center -25px;
    }

    & .hovering {
      background-color: $cWhite;
      color: $cBlack;
      transform: rotateX(90deg);
      font-family: "Playfair Display", serif;
    }

    & .default {
      background-color: $cWhite;
      color: $cBlack;
      transform: rotateX(0);
      font-family: "Playfair Display", serif;
    }

    &:hover {
      & .hovering {
        transform: rotateX(0);
      }
      & .default {
        transform: rotateX(-90deg);
      }
    }
  }
}
.bt2 {
  position: relative;
  display: inline-block;
  background-color: $cWhite;
  font-weight: 600;
  padding: 10px 40px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: $cBlack;
  text-decoration: none !important;
  top: -17px;
  &.cubic {
    & span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // border: 1px solid $cBlack;
      line-height: 48px;
      text-align: center;
      transition: all 0.3s;
      transform-origin: center center -25px;
    }

    & .hovering {
      background-color: $cWhite;
      color: $cBlack;
      transform: rotateX(90deg);
      font-family: "Playfair Display", serif;
    }

    & .default {
      background-color: $cWhite;
      color: $cBlack;
      transform: rotateX(0);
      font-family: "Playfair Display", serif;
    }

    &:hover {
      & .hovering {
        transform: rotateX(0);
      }
      & .default {
        transform: rotateX(-90deg);
      }
    }
  }

  &.letter-spacing:hover {
    background-color: $cBlack;
    letter-spacing: 3px;
    color: $cWhite;
  }

  &.kent {
    box-shadow: none;
    &:hover {
      transform: translate(-2.5px, -2.5px);
      box-shadow: 5px 5px 0 0 $cBlack;
    }
  }

  &.solid {
    box-shadow: 2px 2px 0 0 $cBlack;
    border-radius: 7px;

    &:hover {
      transform: translate(2px, 2px);
      box-shadow: none;
    }
  }
}

footer{
  width: 100%;
  height: 100px;
  text-align: center;
  border-top: 1px solid black;
  line-height: 88px;
}
.footer-text{
  font-size: 20px;
  font-family: "Playfair Display", serif;
}