// Place all the styles related to the music_choices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lyrics{
  writing-mode: vertical-rl; 
  margin: 0 auto; 
}
.choice-image{
  width: 100%;
  height: 550px;
}