// Place all the styles related to the music_choices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lyrics{
  height: 300px;
  margin: 0 auto;
  writing-mode: vertical-rl;
  position: relative;
  font-weight: bold;
  top: 30px;
  font-family: 'Noto Serif JP', serif;
  &.float{
    &:hover{
     box-shadow: 0 0 10px black;
     cursor: pointer;
    }
    
  }
}
.commentary{
  font-family: 'Noto Serif JP', serif;
}
.back-image{
  width: 100%;
  height: 400px;
 position: relative;
}
.choice-image{
  width: 100%;
  height: 400px;
  position: absolute;
}
.unchi{
  color: red;
}