// Place all the styles related to the musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.music-jk{
  margin: 20px;
  position: relative;
  overflow: hidden;
  & .caption{
    width:			100%;
    height:			100%;
    visibility:		hidden;	
    font-size:		130%;
    position:		absolute;
    top:			0;
    left:			0;
    text-align:		center;
    -webkit-transition:	all 0.4s step-end;
    transition:		all 0.4s step-end;
    & p{
      font-size:		130%;
      padding-top:		75px;
      color:			#fff;
      opacity: 0;
    }
  }
  &:hover .caption{
    visibility:		visible;
    & p{
      opacity:		1;
      font-family: 'Cormorant Garamond', serif;
    }
  }
 & .mask1, .mask2{
  width:			50%;	/* 幅は半部のサイズ */
	height:			100%;
	position:		absolute;
	top:			0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
 }
 & .mask1{
   left: -50%;
 }
 &:hover .mask1{
  left: 0px;
}
 & .mask2{
  right: -50%;
 }
 &:hover  .mask2{
  right: 0px;
}
}
.hoge{
  width: 400px;
  height: 420px;
}
.disco{
  & span{
    display: block;
    text-align: center;
    margin-right: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: 'Cormorant Garamond', serif;
    &:nth-child(1){
      font-size: 30px;
    }
    &:nth-child(2){
      font-size: 18px;
    }
    &:nth-child(3){
      font-size: 18px;
      border-bottom: 1px solid;
      padding-bottom: 13px;
    }
    &:nth-child(4){
      font-size: 50px;
    }
    &:nth-child(5){
     font-size: 18px;
     border-bottom: 1px solid;
     padding-bottom: 13px;
    }
    &:nth-child(6){
      border-bottom: 1px solid;
      padding-bottom: 13px;
    }
  }
  & .btn-open{
    width: 180px;
    height:50px;
    text-align: center;
    display: block;
    font-size: 16px;
    line-height: 47px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    border: 2px solid  black;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0 auto;
      &:after{
        width: 100%;
        height: 0;
        content:"";
        position: absolute;
        top: 50%;
        left: 50%;
        background : #FFF;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transition: .2s;
        z-index: -1;
      }
      &:hover{
        color: black;
      }
      &:hover:after{
        height: 240%;
        opacity: 1;
      }
      &:active:after{
        height: 340%;
        opacity: 1;
      }
  }
}
.music-image{
  display: block;
}
.music-button{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.category{
  display: block;
}
.categories-name{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 21px;
}